.cross{
    display: inline;
}
#basic{
        /* text-decoration-line: underline; */
        /* text-decoration-color: aqua; */
        /* background-color: #286DE0; */
        /* padding: 20px 40px; */
        text-align: center;
        border-bottom: 4px solid gray;
        width: 40%;
}
#basic:focus-within{
    border-bottom: 4px solid #3F84F8;
}

#social{
    /* text-decoration-line: underline; */
    text-align: center;
    border-bottom: 4px solid gray;
    width: 40%;
}
#social:focus-within{
    border-bottom: 4px solid #3F84F8;
}
.left-side{
    /* position: absolute; 
    top: 0%;
    left:0%; */
    overflow: hidden;
    background: linear-gradient(180deg, #4285F4 0%, #286DE0 100%);
}
@media screen and (min-width: 1024px) {
    .cross{
        display: none;
    }
  }